@tailwind base;
@tailwind components;
@tailwind utilities;

.sbdocs.sbdocs-content * {
  --font-manrope: "Manrope";

  @apply font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
